*{

box-sizing:border-box;
font-family:Poppins,Arial;

}


body{

margin:0;

min-height:100vh;

background:
linear-gradient(
135deg,
#ff7eb3,
#65c7f7
);

display:flex;

justify-content:center;

padding:40px;

}



.panel{

width:1000px;

background:white;

padding:40px;

border-radius:35px;

box-shadow:
0 30px 80px #0005;

text-align:center;

}



h1{

color:#ff3f8e;

}



button{

padding:14px 25px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:16px;

margin:10px;

background:#ff3f8e;

color:white;

}



.columns{

display:flex;

gap:30px;

margin-top:30px;

}



.box{

flex:1;

padding:25px;

border-radius:25px;

}



.boy{

background:#ffd1e5;

}



.girl{

background:#cceaff;

}



input{

width:100%;

padding:12px;

margin:7px 0;

border-radius:12px;

border:1px solid #ddd;

}



.question{

background:white;

padding:15px;

margin:10px;

border-radius:15px;

text-align:left;

}